@import url("https://raw.githubusercontent.com/sindresorhus/modern-normalize/refs/tags/v3.0.1/modern-normalize.css");
@import url("https://cdn.jsdelivr.net/npm/sakura.css@1.5.0/css/sakura-vader.css");
ul.nav__list {
  margin: 0;
  padding: 0;
}

ul.nav__list li {
  display: inline-block;
}

ul.nav__list li:not(:last-child) {
  margin: 0 0.3em 0 0;
}

a[href^="http"]::after {
  content: "\2197";
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 0.1em;
}
