<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <script src="https://cdn.jsdelivr.net/gh/gnat/css-scope-inline@main/script.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/gnat/surreal@main/surreal.js"></script> -->
    <title>
      {% if page.title %} {{ page.title }} {% elif section.title %} {{
      section.title }} {% elif taxonomy.name %} {{ taxonomy.name }} {% endif %}
    </title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/sakura.css@1.5.0/css/sakura.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <header role="banner" class="site-head">
      <nav
        class="[ nav ] [ site-head__nav ] [ font-sans ]"
        aria-label="Primary"
      >
        <ul class="nav__list">
          {% for item in config.extra.navigation.items %}
          <li>
            <a href="{{ item.url | safe  }}"> {{ item.text }} </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main tabindex="-1" id="main-content">
      {% block content %}{% endblock %}
    </main>
    {% if debug %} {% endif %}
  </body>
</html>
